{{!
  CHARGEN CUSTOM TABS SNIPPET

  FILE: ares-webportal/app/templates/components/chargen-custom-tabs.hbs
  LOCATION: Inside the <ul> tag, after any existing <li> entries

  INSTRUCTIONS:
  1. Open your game's ares-webportal/app/templates/components/chargen-custom-tabs.hbs
  2. Find the <ul> element that contains chargen step tabs
  3. Copy the entire <li> element below
  4. Paste it inside the <ul>, at the end of any existing <li> entries
  5. Save the file
}}

<li class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#chargen-inklings-pane">Secret &amp; Goal</a>
</li>
