{{!
  MERGE-IN SNIPPET - not a complete file.

  Add this <li> inside the existing tab list in your game's
  ares-webportal/app/templates/components/chargen-custom-tabs.hbs,
  alongside any other plugins' custom chargen steps already there.
}}
<li class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#chargen-inklings-pane">Secret &amp; Goal</a>
</li>
