{{!
  MERGE-IN SNIPPET - not a complete file.

  Add this <li> inside the existing tab list in your game's
  ares-webportal/app/templates/components/profile-custom-tabs.hbs,
  alongside any other plugins' custom tab entries already there.
  Give the id something unique to this plugin (as shown) so it can't
  collide with another plugin's tab.
}}
<li class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#inklings-tab-pane">Inklings</a>
</li>
