{{! Detail view for a single inkling, in an ember-bootstrap modal. }}
{{! See inkling-detail-modal.js in the sibling app/components/ directory }}
{{! for the component class this template is paired with. }}
{{! TEMPORARY DEBUG - stripped down to just the title to isolate the bug. }}

{{#bs-modal open=this.isOpen onHide=(action "close") size="lg" as |modal|}}
  {{#modal.header closeButton=true}}
    <h4 class="modal-title">Debug: Title Only</h4>
  {{/modal.header}}

  {{#modal.body}}
    {{#if this.detail}}
      <p>Title: {{this.detail.title}}</p>
    {{else}}
      <p>No detail loaded.</p>
    {{/if}}
  {{/modal.body}}

  {{#modal.footer}}
    <button type="button" class="btn btn-secondary" {{action "close"}}>Close</button>
  {{/modal.footer}}
{{/bs-modal}}
